
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <form class="form-inline my-2 my-lg-0">
        <label for="filter" class="navbar-brand">Filter by</label> 
        <select #s  [(ngModel)]='categoryValue' name='category' (change)='changeFocus(query,s)' class="custom-select custom-select-md ">
            <option [selected]="categoryValue==='firstName'" value='firstName'>firstName</option>
            <option [selected]="categoryValue==='lastName'" value='lastName'>lastName</option>
            <option [selected]="categoryValue==='address'" value='address'>address</option>
            <option [selected]="categoryValue==='city'" value='city'>city</option>
            <option [selected]="categoryValue==='state'" value='state'>state</option>
            <option [selected]="categoryValue==='email'" value='email'>email</option>            
        </select>
        <input #query [(ngModel)]='queryValue' name='query' (input)='filter(query.value,s.value)'  id="filter" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <p class="my-2 my-sm-0 " >(save for later )</p>
        <a (click)='onFilterDontSave()' *ngIf='filterSave' class="form-inline mr-sm-2 my-2 btn btn-primary">
            <svg class="bi bi-toggle-on" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
            </svg>
        </a>
        <a (click)='onFilterSave(query.value)' *ngIf='!filterSave' class="form-inline mr-sm-0 my-2 btn btn-primary active">
            <svg class="bi bi-toggle-off" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
            </svg>
        </a>
      </form>
     
      <a routerLink="/new-customer" class="btn btn-primary form-inline ml-auto">Add Customer</a>
    </div>
  </nav>
    
<table class="table">
    <thead>
        <tr>
            <th>image</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>city</th>
            <th>state</th>
            <th>phone</th>
            <th>email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of filteredCustomers">
            <td><img [src]="customer.imageUrl"  class="img-thumbnail"></td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.state}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.email}}</td>
            <td>
                <a [routerLink]="['/new-customer',customer.firstName,customer.key]" class='alert-danger'>Edit</a>
                <a  (click)='delete(customer.key,customer.firstName)' class='flt-rt'>
                    <svg class="bi bi-x-circle-fill alert-danger ml-auto" width="1em" height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                      </svg>
                </a>
            </td>
        </tr>
    </tbody>
</table>

